/** Global CSS **/
.hide{
    display: none;
}
.show{
    display: block;
}

/** Custom CSS **/
.about{
    text-align: center;
    margin: auto;
    border-radius: 50%;
    background-color: white;
    padding: 40px;
    margin-bottom: 20px;
}
.handle-card{
    padding: 20px 50px;
    margin-top: 15px;
    max-height: 250px;
    text-align: center;
    border-radius: 4px;
}

/** Spinner CSS  **/
.spinner{
    text-align: center;
}

.mdl-spinner{
    top: 100px;
}


/** chart css **/
#verdictChart{
    height: 450px;
    width: 100%;
}
#languageChart{
    height: 450px;
    width: 100%;
}